/*-----------------------------------------------------------------------*/
/* May Contain Nuts page */
/*-----------------------------------------------------------------------*/

@import url("bootstrap-glyphicons.css");
html {
    height:                100%;
}
body { 
    margin:                0;
    border:                0;
    padding:               0;
    height:                100%;
    font-size:             15px;
    font-family:           Arial,sans-serif;
}
#wrapper {
    position:              relative;
    width:                 100%;
    min-height:            100%;
    background-color:      #3e3a39;
    background-image:      url(/static/img/may_contain_nuts.jpg);
   /* 
     May contain nuts, photo by Anders Sandberg
       (https://www.flickr.com/photos/arenamontanus/2270192290)
       Licensed under Creative Commons (CC BY 2.0) */
    background-position:   left center;
    background-repeat:     no-repeat;
}
main {
    min-height:            300px;
    padding:               20px 20px 20px 20px;
    margin:                0 5%;
}
.search-results,
.nuts {
    position:              relative;
    padding:               5px 20px;
    min-width:             440px;
    margin:                0px;
    background:            #f4ebbd;
    color:                 #1f0409;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    border:                solid 1px #a67a3b;
}
.nuts {
    background:            #f4ebbd;
    margin-bottom:         20px;
    max-width:             740px;
}
.search-results {
    background:            #e7d9cc;
}
.search-results label {
    padding-left:          2em;
    text-indent:          -2em;
}
h2 {
    font-size:             22px;
    font-style:            italic;
    font-weight:           normal;
    color:                 #1f0409;
    margin:                0;
    padding:               2px 0;
    font-family:           Arial,sans-serif;
}
a {
    color:                 #1f0409;
}
label {
    font-weight:           bold;
}
.nuts fieldset {
    display:               inline-block;
    width:                 320px;
    vertical-align:        top;
}
.nuts .instructions {
    padding:               2px 2px 10px;
}
.nuts .input {
    padding:               2px 2px 10px;
}
.nuts .input input.hidden {
    display:               none;
}
.nuts .input .search-box {
    position:              relative;
    display:               block;
    height:                29px;
    width:                 300px;
    padding:               0;
    margin:                0px 0px 2px 0px;
    background:            #a67a3b;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border:                1px inset #a67a3b;
}
.nuts .input .search-box input {
    margin:                0;
    padding:               0 5px;
    color:                 #ddd;
    background:            transparent;
    border:                none;
    outline:               none;
    width:                 290px;
}
.nuts .input .glyphicon-search {
    position:              absolute;
    top:                   5px;
    right:                 8px;
    color:                 #ddd;
    font-size:             20px;
}
.search-results .output {
    padding:               2px 2px 10px;
    min-height:            50px;
}
.result {
    border:                solid 1px #b68a4b;
    padding:               10px;
    margin-bottom:         10px;
}
.result h3 {
    margin:                2px 0 5px 0;
}
.field  {
}
.field label  {
    display:               inline-block;
    font-weight:           bold;
    width:                 260px;
}

img#loadMoreResults {
    display:               block;
    margin:                0 auto;
    width:                 14px;
    height:                14px;
}

ul.checkboxes  {
    margin:                0;
    padding:               2px 0px 2px 4px;
    list-style-type:       none;
    display:               block;
    overflow-y:            auto;
    height:                150px;
    width:                 272px;
}
ul.checkboxes li {
    padding:               0px 0px 1px 0;
    margin:                0px;
    display:               list-item;
    width:                 auto;
    padding-left:          44px;
    text-indent:          -44px;
    line-height:           80%;
}
ul.checkboxes li label {
    margin:                0;
    padding:               0;
    font-weight:           normal;
    color:                 #1c1818;
}
ul.checkboxes li input {
    margin:                2px 3px 2px 4px;
}
ul.checkboxes li input:checked + label {
    font-weight:           bold;
}

